@font-face{
	font-family:"HelveticaNeueBdCn";
	src:url("HelveticaNeueBdCn.eot");
	src:url("HelveticaNeueBdCn.eot?#iefix") format("embedded-opentype"),url("HelveticaNeueBdCn.woff") format("woff"),url("HelveticaNeueBdCn.ttf") format("truetype"),url("HelveticaNeueBdCn.svg#") format("svg");
	font-style:normal;
	font-weight:normal
	}

label{
	color:#3882c8;
	font-weight:bold;
	padding:0 0 3px 0
	}

label span{
	color:#c52027;
	font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	left:-2px;position:relative
	}

input,textarea{
	-moz-transition:border 0.2s linear 0s;
	-o-transition:border 0.2s linear 0s;
	-webkit-transition:border 0.2s linear 0s;
	transition:border 0.2s linear 0s;
	-moz-transition:box-shadow 0.2s linear 0s;
	-o-transition:box-shadow 0.2s linear 0s;
	-webkit-transition:box-shadow 0.2s linear 0s;
	transition:box-shadow 0.2s linear 0s;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
	background:#fff;
	border:1px solid #ccc;
	color:#000;
	font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	margin:0 0 4px 0;
	padding:3px
	}

input:focus,input:active,textarea:focus,textarea:active{
	border:1px solid #adadad
	}

.col-2{
	float:left;
	margin:0 10px;
	width:460px
	}

.col-3{
	float:left;
	margin:0 10px;
	width:300px
	}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,hr,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
	background:transparent;
	border:0;
	font-size:100%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline
	}

body{line-height:1}

a{text-decoration:none}

*:focus{outline:1}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}

nav ul{list-style:none}

ul{list-style:none}

blockquote,q{quotes:none}

blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}

table{border-collapse:collapse;border-spacing:0}

input,select{vertical-align:middle}

::selection,::-moz-selection{background:#e3ecf3}

img::selection,img::-moz-selection{background:transparent}

body{color:#000;font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;text-rendering:optimizeLegibility;text-shadow:0 1px 0 #fff}

#grid{background:url(/assets/global/grid-ced54cab02e0d1b21bd3ec6747bef6ad.png) 50% 0 repeat-y;display:none;height:1000%;position:absolute;top:0;width:100%;z-index:9999}

.share{-moz-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;-moz-box-shadow:inset 0 -1px 1px rgba(0,0,0,0.2);-o-box-shadow:inset 0 -1px 1px rgba(0,0,0,0.2);-webkit-box-shadow:inset 0 -1px 1px rgba(0,0,0,0.2);box-shadow:inset 0 -1px 1px rgba(0,0,0,0.2);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);transform:rotate(-90deg);background:#333;background:rgba(0,0,0,0.3);height:20px;padding:10px;position:fixed;left:-70px;top:310px;width:160px;z-index:9999}

.share a{color:#fff;font-size:12px;left:10px;position:relative;text-shadow:0 1px 0 rgba(0,0,0,0.5);top:-5px}

.share a:hover,.share a:focus,.share a:active{color:#c52027}

.container{margin:0 auto;width:960px}

.clear{clear:both}


a,a img{-moz-transition:all 0.15s linear;-o-transition:all 0.15s linear;-webkit-transition:all 0.15s linear;transition:all 0.15s linear;color:#275b8c}


a:hover,a:focus,a:active,a img:hover,a img:focus,a img:active{color:#c52027}
h1{color:#275b8c;font-size:24px}
h2{color:#275b8c;font-size:18px}
h3{color:#3882c8;font-size:16px}
h4{color:#3882c8}
h5{background:#e3ecf3;border-top:1px solid #c6d9e7;color:#275b8c;font-size:12px;padding:2px 10px 3px 10px}
blockquote{font:italic 14px/20px Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif}
section .container{margin:39px auto 19px auto}
section .container h1{margin:0 10px 20px 10px}
section .container h2{margin:0 10px 20px 10px}
section .container h3{margin:0 10px 20px 10px}
section .container h4{margin:0 10px 20px 10px}
section .container h5{margin:0 10px 20px 10px}
section .container h6{margin:0 10px 20px 10px}
section .container p{margin:0 10px 20px 10px}
section .container ul,section .container ol{list-style:disc;margin:0 10px 20px 40px}
section .container aside{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#e3ecf3;float:right;margin:0 10px 19px 20px;padding:20px 10px;width:360px}
header{background:url(/assets/global/banner-5d678f8498de5a86953740974211360d.jpg) 50% 50% no-repeat,url(/assets/global/banner-pin-0aa2d574d9d7cd64560514f6c220d610.jpg) 0 0 repeat-x}
header .container{min-height:180px;padding:20px 0;position:relative}
header .container h1{background:url(/assets/global/logo-small-f30ba8bdc216be0657e0475b6dfc55ae.png) 0 0 no-repeat;height:281px;left:-38px;position:absolute;top:-32px;width:266px}
header .container h1 a{display:block;height:184px;margin:50px 0 0 48px;text-indent:-9999px;width:170px}
header .container nav ul{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);-o-box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);background:#20517a;background:rgba(0,0,0,0.2);height:21px;padding:10px 15px;position:absolute;right:110px;top:19px}
header .container nav ul li{border-left:1px solid rgba(0,0,0,0.2);border-right:1px solid rgba(255,255,255,0.06);float:left;padding:0 14px}
header .container nav ul li.home{border:0;padding:0}
header .container nav ul li.home a{-moz-transition:none;-o-transition:none;-webkit-transition:none;transition:none;background:url(/assets/global/icons-28bf97fff8223da749a82a5b999db306.png) 0 0 no-repeat;display:block;height:15px;margin:3px 15px 0 0;text-indent:-9999px;width:15px}
header .container nav ul li.home a:hover,header .container nav ul li.home a:focus,header .container nav ul li.home a:active{background-position:0 -15px}
header .container nav ul li.programs{border-left:none;padding-left:0}
header .container nav ul li.faq{border-right:none;padding-right:0}
header .container nav ul li.m-apply{display:none}
header .container nav ul li a{color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3)}
header .container nav ul li a:hover,header .container nav ul li a:focus,header .container nav ul li a:active{color:#9cbcd4}
header .container a.apply{background:#e6e6e6;background:-moz-linear-gradient(top, #fff, #ccc);background:-ms-linear-gradient(top, #fff, #ccc);background:-o-linear-gradient(top, #fff, #ccc);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));background:-webkit-linear-gradient(top, #fff, #ccc);background:linear-gradient(top, #fff, #ccc);-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-transform:uppercase;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);-o-box-shadow:0 1px 1px rgba(0,0,0,0.2);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.2);font:700 14px/41px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;position:absolute;right:10px;text-align:center;top:19px;width:80px}
header .container a.apply:hover,header .container a.apply:focus,header .container a.apply:active{background:#ccc;background:-moz-linear-gradient(top, #fff, #b3b3b3);background:-ms-linear-gradient(top, #fff, #b3b3b3);background:-o-linear-gradient(top, #fff, #b3b3b3);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#b3b3b3));background:-webkit-linear-gradient(top, #fff, #b3b3b3);background:linear-gradient(top, #fff, #b3b3b3);color:#c52027}
header .container .intro{margin:60px 0 0 210px}
header .container .intro h2{color:#fffdd4;font:30px/40px "HelveticaNeueBdCn","HelveticaNeueBoldCondensed","HelveticaNeue-Bold-Condensed","Helvetica Neue Bold Condensed","HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue Bold","HelveticaNeue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-stretch:condensed;padding:4px 0 0 0;text-shadow:0 2px 1px rgba(0,0,0,0.2)}
header .container .intro h3{color:#fff;font:400 18px/26px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;margin:5px 0 19px 0;text-shadow:0 1px 1px rgba(0,0,0,0.2)}
header .container .intro h3 span{display:block}
header .container .intro h3 strong{font-weight:700}
#home li.home a{background-position:0 -15px;cursor:default}
#programs li.programs a,#culture li.culture a,#community li.community a,#staff li.staff a,#location li.location a,#admission li.admission a,#apply li.m-apply a,#alumni li.alumni a{color:#9cbcd4;cursor:default}
.no-multiplebgs header{background:url(/assets/global/banner-pin-0aa2d574d9d7cd64560514f6c220d610.jpg) 0 0 repeat-x}
.no-textshadow .intro h2{font:700 30px/40px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif !important;letter-spacing:-2px}
.no-textshadow .intro h2 span{font-size:72px !important;letter-spacing:-5px}
footer{background:url(/assets/global/banner-pin-0aa2d574d9d7cd64560514f6c220d610.jpg) 0 0 repeat-x;font:700 12px/41px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;height:41px;text-shadow:0 1px 0 rgba(0,0,0,0.3)}
footer a.logo img{display:block;float:left;height:13px;margin:14px 0 0 10px;width:142px}
footer ul{float:right;list-style:none;margin:0 7px 0 0}
footer ul li{float:left;margin:12px 0 0 0;padding:0 3px}
footer ul li a{background:url(/assets/global/icons-28bf97fff8223da749a82a5b999db306.png) 0 0 no-repeat;display:block;height:17px;overflow:hidden;text-indent:-9999px;width:16px}
footer ul li.tumblr a{background-position:0 -64px}
footer ul li.mail a{background-position:0 -81px}
footer ul li.twitter a{background-position:0 -98px}
footer ul li.facebook a{background-position:0 -115px}
footer ul li.google a{background-position:0 -132px}
footer ul li.built{margin:6px 0 0 12px}
footer ul li.built a{background:url(/assets/global/built_in_chicago-6f2e5cb95bc223c616152b0e110133b3.png) 0 0 no-repeat;height:27px;width:69px}
html,body,#wrap{height:100%}
body > #wrap{height:auto;min-height:100%}
#main{padding-bottom:131px}
#footer{position:relative;margin:-131px 0 0 0;height:131px;clear:both}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
#home #main,#apply #main{padding-bottom:41px}
#home #footer,#apply #footer{margin:-41px 0 0 0;height:41px}
#banner{-moz-box-shadow:0 -2px 2px rgba(0,0,0,0.1);-o-box-shadow:0 -2px 2px rgba(0,0,0,0.1);-webkit-box-shadow:0 -2px 2px rgba(0,0,0,0.1);box-shadow:0 -2px 2px rgba(0,0,0,0.1);background:#e3ecf3;border-bottom:1px solid #c6d9e7;padding:19px 0;position:relative;z-index:4}
#banner h3{color:#3882c8}
#banner h4 a{color:#3882c8}
#banner h4 a:hover,#banner h4 a:focus,#banner h4 a:active{color:#333}
#banner p.btn a,#banner p.btn strong{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.05);-o-box-shadow:0 1px 1px rgba(0,0,0,0.05);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);box-shadow:0 1px 1px rgba(0,0,0,0.05);background:#fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEElEQVQImWNgQAZPnz79DwAJHgOvO/2VogAAAABJRU5ErkJggg==") 0 0 repeat;border:1px solid #a3c0d7;font:700 12px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;padding:7px 15px 6px 15px;text-transform:uppercase;cursor:pointer}
#banner p.btn a:hover,#banner p.btn a:focus,#banner p.btn a:active,#banner p.btn strong:hover,#banner p.btn strong:focus,#banner p.btn strong:active{background:#f1f6f9 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEElEQVQImWNgQAZPnz79DwAJHgOvO/2VogAAAABJRU5ErkJggg==") 0 0 repeat}
#bottom{background:url(/assets/global/grain-50918ab2c9a306b9d07b506e6494070f.jpg) 0 0 repeat;padding:10px 0 20px 0;text-align:center}
#bottom h6{color:#275b8c;font:700 18px/40px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}
#bottom p{color:#000;font:700 15px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;margin:0 10px}
#home header h1{background:url(/assets/global/logo-470541741b2ccd7bfab7f5e14f927cff.png) 0 0 no-repeat;height:454px;left:-70px;position:absolute;top:-60px;width:429px}
#home header h1 a{display:block;height:300px;margin:80px 0 0 78px;text-indent:-9999px;width:272px}
#home header .intro{margin:60px 0 0 316px;position:relative}
#home header .intro h2{color:#fff;text-transform:uppercase}
#home header .intro h2 span{color:#fffdd4;display:block;font-size:75px;margin:17px 0 0 0;text-shadow:0 2px 2px rgba(0,0,0,0.3)}
#home header .intro h3{font:26px/32px Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif;margin:14px 0 0 0}
#home header .intro a.btn-red{background:#c8171d;background:-moz-linear-gradient(top, #e72b32, #9b1117);background:-ms-linear-gradient(top, #e72b32, #9b1117);background:-o-linear-gradient(top, #e72b32, #9b1117);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e72b32), to(#9b1117));background:-webkit-linear-gradient(top, #e72b32, #9b1117);background:linear-gradient(top, #e72b32, #9b1117);-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.75);text-transform:uppercase;-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);-o-box-shadow:0 1px 2px rgba(0,0,0,0.2);-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);box-shadow:0 1px 2px rgba(0,0,0,0.2);display:inline-block;font-weight:700;margin:19px 0 -1px 0;padding:12px 30px 11px 30px}
#home header .intro a.btn-red:hover,#home header .intro a.btn-red:focus,#home header .intro a.btn-red:active{background:#b1141a;background:-moz-linear-gradient(top, #df1921, #840f13);background:-ms-linear-gradient(top, #df1921, #840f13);background:-o-linear-gradient(top, #df1921, #840f13);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#df1921), to(#840f13));background:-webkit-linear-gradient(top, #df1921, #840f13);background:linear-gradient(top, #df1921, #840f13)}
#home #banner h4{font-size:15px;margin:1px 0 19px 0}
#home #banner p.btn{margin:19px 0 1px 0}
#home #banner h1{margin:-15px 0 15px 0}
#home section article{margin:0 10px 19px 10px}
#home section article h1{margin:0 0 20px 0}
#home section article p{margin:0}
#home section article#videos{float:left;width:540px}
#home section article#videos ul.videos{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#000;height:361px;list-style:none;margin:20px 0 19px 0;position:relative;width:540px}
#home section article#videos ul.videos li{color:#fff;display:none;height:381px;left:0;position:absolute;text-shadow:0 1px 0 rgba(0,0,0,0.8);top:0;width:540px}
#home section article#videos ul.videos li iframe{background:#fff;margin:10px 10px 5px 10px;width:520px;height:292px}
#home section article#videos ul.videos li p{padding:0 10px}
#home section article#videos ul.videos li p span{color:#ccc}
#home section article#videos .thumbnails{-moz-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;background:#e3ecf3;height:155px;padding:6px}
#home section article#videos .thumbnails a{background:#fff;border:1px solid #ddd;padding:2px;height:62px;float:left;margin:5px;width:116px}
#home section article#videos .thumbnails a.featured{height:140px;width:248px}
#home section article#videos .thumbnails a:hover,#home section article#videos .thumbnails a:focus{border:1px solid #bebebe}
#home section article#videos .thumbnails a.current,#home section article#videos .thumbnails a:active{border:1px solid #a3c0d7}
#home section article#videos .path{-moz-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;background:#e3ecf3;padding:1px 11px 12px 11px}
#home section article#videos .path a{-moz-transition:color 0.15s linear;-o-transition:color 0.15s linear;-webkit-transition:color 0.15s linear;transition:color 0.15s linear;background:url(/assets/global/icons-28bf97fff8223da749a82a5b999db306.png) 100% -30px no-repeat;font:700 12px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;padding:0 10px 0 0;text-transform:uppercase}
#home section article#videos .path a:hover,#home section article#videos .path a:focus,#home section article#videos .path a:active{background-position:100% -45px}
#home section article#quotes{float:right;margin:-2px 10px 0 10px;width:380px}
#home section article#quotes h5{margin:-1px 0 17px 0}
#home section article#quotes ul.quotes{height:80px;list-style:none;margin:0 0 20px 0;position:relative}
#home section article#quotes ul.quotes li{background:#fff;color:#999;display:none;font-size:13px;height:81px;left:0;position:absolute;text-align:right;top:0;width:380px}
#home section article#quotes ul.quotes li img{background:#fff;border:1px solid #ddd;padding:2px;float:left;margin:0 12px 19px 0}
#home section article#quotes ul.quotes li blockquote{color:#000;text-align:left}
#home section article#quotes ul.quotes li strong{color:#000}
#home section article#quotes .nav{display:none}
#home section article#people{float:right;width:380px}
#home section article#people h5{margin:-3px 0 17px 0}
#home section article#people ul{list-style:none;margin:0}
#home section article#people ul li{clear:both;padding:0 0 20px 0}
#home section article#people ul li a img{background:#fff;border:1px solid #ddd;padding:2px;float:left;margin:0 12px 19px 0}
#home section article#people ul li a img:hover,#home section article#people ul li a img:focus,#home section article#people ul li a img:active{border:1px solid #bebebe}
#home section article#people ul li h4{font-size:13px;margin:0}
#home section article#people ul li h4 a{color:#000}
#home section article#people ul li h4 a:hover,#home section article#people ul li h4 a:focus,#home section article#people ul li h4 a:active{color:#275b8c}
#home section article#people ul li h4 a span{color:#999;font-weight:400}
#home section article#people ul li h4 a em{color:#c52027;font-style:normal;font-weight:400}
#home section article#people p.btn{clear:both}
#home section article#people p.btn a{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.05);-o-box-shadow:0 1px 1px rgba(0,0,0,0.05);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);box-shadow:0 1px 1px rgba(0,0,0,0.05);background:#fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEElEQVQImWNgQAZPnz79DwAJHgOvO/2VogAAAABJRU5ErkJggg==") 0 0 repeat;border:1px solid #a3c0d7;font:700 12px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;padding:7px 15px 6px 15px;text-transform:uppercase}
#home section article#people p.btn a:hover,#home section article#people p.btn a:focus,#home section article#people p.btn a:active{background:#f1f6f9 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEElEQVQImWNgQAZPnz79DwAJHgOvO/2VogAAAABJRU5ErkJggg==") 0 0 repeat}
#overlay{background:#fff;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 6px rgba(0,0,0,0.6);-o-box-shadow:0 0 6px rgba(0,0,0,0.6);-webkit-box-shadow:0 0 6px rgba(0,0,0,0.6);box-shadow:0 0 6px rgba(0,0,0,0.6);display:none;padding:20px;width:600px}
#overlay img{display:block;margin:20px auto 30px auto;width:560px}
#overlay h2{font-size:22px;margin:0 0 20px 0;text-align:center}
#overlay p{margin:0 0 20px 0}
#overlay .close{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.05);-o-box-shadow:0 1px 1px rgba(0,0,0,0.05);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);box-shadow:0 1px 1px rgba(0,0,0,0.05);background:#fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEElEQVQImWNgQAZPnz79DwAJHgOvO/2VogAAAABJRU5ErkJggg==") 0 0 repeat;border:1px solid #a3c0d7;font:700 12px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;padding:7px 15px 6px 15px;text-transform:uppercase;cursor:pointer}
#overlay .close:hover,#overlay .close:focus,#overlay .close:active{background:#f1f6f9 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEElEQVQImWNgQAZPnz79DwAJHgOvO/2VogAAAABJRU5ErkJggg==") 0 0 repeat}
#programs #banner a{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;cursor:pointer;padding:20px;width:260px}
#programs #banner a h1{margin:1px 0 19px 0}
#programs #banner a p{color:#000}
#programs #banner a p.btn{margin:19px 0 1px 0}
#programs #banner a.current{-moz-box-shadow:inset 0 2px 2px rgba(39,91,140,0.1);-o-box-shadow:inset 0 2px 2px rgba(39,91,140,0.1);-webkit-box-shadow:inset 0 2px 2px rgba(39,91,140,0.1);box-shadow:inset 0 2px 2px rgba(39,91,140,0.1);background:#d2deea;background:rgba(39,91,140,0.09);cursor:default}
#programs #banner a:hover h1{color:#c52027}
#programs #banner a:hover p.btn strong{background:#f1f6f9 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEElEQVQImWNgQAZPnz79DwAJHgOvO/2VogAAAABJRU5ErkJggg==") 0 0 repeat;color:#c52027}
#programs #banner a.current:hover h1{color:#275b8c}
#programs #banner a.current:hover p.btn strong{background:#fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEElEQVQImWNgQAZPnz79DwAJHgOvO/2VogAAAABJRU5ErkJggg==") 0 0 repeat;cursor:default}
#programs .container.programs{position:relative;height:1441px}
#programs .container.programs #ux,#programs .container.programs #development,#programs .container.programs #html-css{display:none;left:0;position:absolute;top:0;width:960px}
#programs .container.programs #ux aside h2,#programs .container.programs #development aside h2,#programs .container.programs #html-css aside h2{color:#3882c8;font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;text-align:right}
#programs .container.programs #ux aside h2 a,#programs .container.programs #development aside h2 a,#programs .container.programs #html-css aside h2 a{float:left;font:700 18px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}
#programs .container.programs #ux aside figure,#programs .container.programs #development aside figure,#programs .container.programs #html-css aside figure{position:relative;height:221px;margin:0 10px 19px 10px;width:340px}
#programs .container.programs #ux aside figure:before,#programs .container.programs #ux aside figure:after,#programs .container.programs #development aside figure:before,#programs .container.programs #development aside figure:after,#programs .container.programs #html-css aside figure:before,#programs .container.programs #html-css aside figure:after{-moz-box-shadow:0 15px 10px rgba(0,0,0,0.3);-o-box-shadow:0 15px 10px rgba(0,0,0,0.3);-webkit-box-shadow:0 15px 10px rgba(0,0,0,0.3);box-shadow:0 15px 10px rgba(0,0,0,0.3);-moz-transform:rotate(-4deg);-o-transform:rotate(-4deg);-webkit-transform:rotate(-4deg);transform:rotate(-4deg);bottom:15px;content:"";height:20%;left:5px;position:absolute;width:40%;z-index:1}
#programs .container.programs #ux aside figure:after,#programs .container.programs #development aside figure:after,#programs .container.programs #html-css aside figure:after{-moz-transform:rotate(4deg);-o-transform:rotate(4deg);-webkit-transform:rotate(4deg);transform:rotate(4deg);left:auto;right:5px}
@media screen and (max-width: 640px){#programs .container.programs #ux aside figure,#programs .container.programs #development aside figure,#programs .container.programs #html-css aside figure{display:block;height:auto;margin:0 auto 20px auto;width:auto}
#programs .container.programs #ux aside figure:before,#programs .container.programs #ux aside figure:after,#programs .container.programs #development aside figure:before,#programs .container.programs #development aside figure:after,#programs .container.programs #html-css aside figure:before,#programs .container.programs #html-css aside figure:after{display:none}
#programs .container.programs #ux aside figure img,#programs .container.programs #development aside figure img,#programs .container.programs #html-css aside figure img{display:block;margin:0 auto;width:85%}
}
#programs .container.programs #ux aside figure img,#programs .container.programs #development aside figure img,#programs .container.programs #html-css aside figure img{background:#fff;border:1px solid #ddd;padding:5px;position:relative;z-index:2;border:1px solid #c6d9e7}
#programs .container.programs #ux aside .apply-now,#programs .container.programs #development aside .apply-now,#programs .container.programs #html-css aside .apply-now{text-align:center}
#programs .container.programs #ux aside .apply-now h2,#programs .container.programs #development aside .apply-now h2,#programs .container.programs #html-css aside .apply-now h2{border-top:3px double #c6d9e7;color:#c52027;font:700 16px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;margin:-1px 10px 18px 10px;padding:19px 0 0 0;text-align:center}
#programs .container.programs #ux aside .apply-now a,#programs .container.programs #development aside .apply-now a,#programs .container.programs #html-css aside .apply-now a{background:#c8171d;background:-moz-linear-gradient(top, #e72b32, #9b1117);background:-ms-linear-gradient(top, #e72b32, #9b1117);background:-o-linear-gradient(top, #e72b32, #9b1117);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e72b32), to(#9b1117));background:-webkit-linear-gradient(top, #e72b32, #9b1117);background:linear-gradient(top, #e72b32, #9b1117);-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.75);text-transform:uppercase;-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);-o-box-shadow:0 1px 2px rgba(0,0,0,0.2);-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);box-shadow:0 1px 2px rgba(0,0,0,0.2);display:inline-block;font-weight:700;margin:0 10px 18px 10px;padding:12px 30px 11px 30px}
#programs .container.programs #ux aside .apply-now a:hover,#programs .container.programs #ux aside .apply-now a:focus,#programs .container.programs #ux aside .apply-now a:active,#programs .container.programs #development aside .apply-now a:hover,#programs .container.programs #development aside .apply-now a:focus,#programs .container.programs #development aside .apply-now a:active,#programs .container.programs #html-css aside .apply-now a:hover,#programs .container.programs #html-css aside .apply-now a:focus,#programs .container.programs #html-css aside .apply-now a:active{background:#b1141a;background:-moz-linear-gradient(top, #df1921, #840f13);background:-ms-linear-gradient(top, #df1921, #840f13);background:-o-linear-gradient(top, #df1921, #840f13);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#df1921), to(#840f13));background:-webkit-linear-gradient(top, #df1921, #840f13);background:linear-gradient(top, #df1921, #840f13)}
#programs .container.programs #ux aside .apply-now p,#programs .container.programs #development aside .apply-now p,#programs .container.programs #html-css aside .apply-now p{color:#999;font:13px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;margin:0 10px 21px 10px}
#programs .container.programs #ux aside h4,#programs .container.programs #development aside h4,#programs .container.programs #html-css aside h4{border-top:3px double #c6d9e7;margin:-2px 10px 20px 10px;padding:19px 0 0 0}
#programs .container.programs #ux aside h4.pull,#programs .container.programs #development aside h4.pull,#programs .container.programs #html-css aside h4.pull{margin:-3px 10px 20px 10px}
#programs .container.programs #ux aside ul,#programs .container.programs #development aside ul,#programs .container.programs #html-css aside ul{list-style:none;position:relative;margin:0 10px 19px 10px}
#programs .container.programs #ux aside ul.jeff-quotes,#programs .container.programs #development aside ul.jeff-quotes,#programs .container.programs #html-css aside ul.jeff-quotes{height:101px}
#programs .container.programs #ux aside ul.carolyn-quotes,#programs .container.programs #development aside ul.carolyn-quotes,#programs .container.programs #html-css aside ul.carolyn-quotes{height:141px}
#programs .container.programs #ux aside ul.shay-quotes,#programs .container.programs #development aside ul.shay-quotes,#programs .container.programs #html-css aside ul.shay-quotes{height:101px}
#programs .container.programs #ux aside ul li,#programs .container.programs #development aside ul li,#programs .container.programs #html-css aside ul li{background:#e3ecf3;color:#999;display:none;font-size:13px;position:absolute;text-align:right}
#programs .container.programs #ux aside ul li blockquote,#programs .container.programs #development aside ul li blockquote,#programs .container.programs #html-css aside ul li blockquote{color:#000;text-align:left}
#programs .container.programs #ux aside ul li strong,#programs .container.programs #development aside ul li strong,#programs .container.programs #html-css aside ul li strong{color:#000}
#programs .container.programs #ux aside .jeff-nav,#programs .container.programs #ux aside .carolyn-nav,#programs .container.programs #ux aside .shay-nav,#programs .container.programs #development aside .jeff-nav,#programs .container.programs #development aside .carolyn-nav,#programs .container.programs #development aside .shay-nav,#programs .container.programs #html-css aside .jeff-nav,#programs .container.programs #html-css aside .carolyn-nav,#programs .container.programs #html-css aside .shay-nav{display:none}
#programs .container.programs #ux ul.rails-companies,#programs .container.programs #development ul.rails-companies,#programs .container.programs #html-css ul.rails-companies{list-style:none;margin:0}
#programs .container.programs #ux ul.rails-companies li,#programs .container.programs #development ul.rails-companies li,#programs .container.programs #html-css ul.rails-companies li{float:left;margin:10px;width:220px}
#programs .container.programs #ux ul.rails-companies li a,#programs .container.programs #development ul.rails-companies li a,#programs .container.programs #html-css ul.rails-companies li a{background:url(/assets/programs/rails-companies-8eb6b4424a21be84d1c0d2272ae3302b.jpg) 0 0 no-repeat;display:block;height:68px;text-indent:-9999px;width:220px}
#programs .container.programs #ux ul.rails-companies li.twitter a,#programs .container.programs #development ul.rails-companies li.twitter a,#programs .container.programs #html-css ul.rails-companies li.twitter a{background-position:0 0}
#programs .container.programs #ux ul.rails-companies li.groupon a,#programs .container.programs #development ul.rails-companies li.groupon a,#programs .container.programs #html-css ul.rails-companies li.groupon a{background-position:-220px 0}
#programs .container.programs #ux ul.rails-companies li.hulu a,#programs .container.programs #development ul.rails-companies li.hulu a,#programs .container.programs #html-css ul.rails-companies li.hulu a{background-position:-440px 0}
#programs .container.programs #ux ul.rails-companies li.linkedin a,#programs .container.programs #development ul.rails-companies li.linkedin a,#programs .container.programs #html-css ul.rails-companies li.linkedin a{background-position:-660px 0}
#programs .container.programs #ux ul.rails-companies li.yp a,#programs .container.programs #development ul.rails-companies li.yp a,#programs .container.programs #html-css ul.rails-companies li.yp a{background-position:0 -68px}
#programs .container.programs #ux ul.rails-companies li.signals a,#programs .container.programs #development ul.rails-companies li.signals a,#programs .container.programs #html-css ul.rails-companies li.signals a{background-position:-220px -68px}
#programs .container.programs #ux ul.rails-companies li.ea a,#programs .container.programs #development ul.rails-companies li.ea a,#programs .container.programs #html-css ul.rails-companies li.ea a{background-position:-440px -68px}
#programs .container.programs #ux ul.rails-companies li.nyt a,#programs .container.programs #development ul.rails-companies li.nyt a,#programs .container.programs #html-css ul.rails-companies li.nyt a{background-position:-660px -68px}
#culture #banner{padding:19px 0 16px 0;text-align:center}
#culture #banner h1{margin:0 10px 20px 10px}
#culture #banner p{font:italic 17px/28px Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif}
#culture section figure{position:relative;-moz-transform:rotate(1.5deg);-o-transform:rotate(1.5deg);-webkit-transform:rotate(1.5deg);transform:rotate(1.5deg);float:right;margin:-48px 12px 29px 30px;width:290px}
#culture section figure:before,#culture section figure:after{-moz-box-shadow:0 15px 10px rgba(0,0,0,0.3);-o-box-shadow:0 15px 10px rgba(0,0,0,0.3);-webkit-box-shadow:0 15px 10px rgba(0,0,0,0.3);box-shadow:0 15px 10px rgba(0,0,0,0.3);-moz-transform:rotate(-4deg);-o-transform:rotate(-4deg);-webkit-transform:rotate(-4deg);transform:rotate(-4deg);bottom:15px;content:"";height:20%;left:5px;position:absolute;width:40%;z-index:1}
#culture section figure:after{-moz-transform:rotate(4deg);-o-transform:rotate(4deg);-webkit-transform:rotate(4deg);transform:rotate(4deg);left:auto;right:5px}
@media screen and (max-width: 640px){#culture section figure{display:block;height:auto;margin:0 auto 20px auto;width:auto}
#culture section figure:before,#culture section figure:after{display:none}
#culture section figure img{display:block;margin:0 auto;width:85%}
}
#culture section figure img{background:#fff;border:1px solid #ddd;padding:5px;position:relative;z-index:2}
#culture section .who-we-are{border-top:3px double #c6d9e7;margin:-3px 10px -1px 10px;padding:39px 0 0 0}
#culture section .who-we-are h1{margin:0 0 20px 0}
#culture section .who-we-are ul{list-style:none;margin:0}
#culture section .who-we-are ul li{clear:both}
#culture section .who-we-are ul li figure{-moz-transform:rotate(-1.5deg);-o-transform:rotate(-1.5deg);-webkit-transform:rotate(-1.5deg);transform:rotate(-1.5deg);height:181px;float:left;margin:-1px 20px 20px 0;width:267px}
#culture section .who-we-are ul li figure img{background:#fff;border:1px solid #ddd;padding:5px;position:relative;z-index:2}
#culture section .who-we-are ul li h3{color:#999;font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;margin:0 0 20px 0}
#culture section .who-we-are ul li h3 a{font:700 16px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}
#culture section .who-we-are ul li h3 a.handle{font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}
#culture section .who-we-are ul li blockquote{float:left;padding:0 0 20px 0;width:653px}
#culture section .who-we-are ul li:nth-child(even) figure{-moz-transform:rotate(1.5deg);-o-transform:rotate(1.5deg);-webkit-transform:rotate(1.5deg);transform:rotate(1.5deg);float:right;margin:-1px 0 20px 20px}
#community section div{clear:both}
#community section h2{border-top:3px double #c6d9e7;margin:39px 10px 19px 10px;padding:39px 0 0 0}
#community section ul{list-style:none;margin:0}
#community section ul li{float:left;font-weight:700;height:180px;margin:0 10px;text-align:center;width:140px}
#community section ul li img{background:#fff;border:1px solid #ddd;padding:2px;display:block;margin:0 auto 5px auto}
#community section ul li a{display:block;font-weight:400;line-height:18px}
#community section #advisors h2{margin:19px 10px}
#community section #companies h2{margin:19px 10px 0 10px}
#community section #companies ul li{height:124px;margin:16px 10px;width:172px}
#community section #companies ul li a{background:url(/assets/community/companies-75fd0603a0683077b1a6acf85eba5835.jpg) 0 0 no-repeat;display:block;height:124px;text-indent:-9999px;width:172px}
#community section #companies ul li.feature{height:138px;width:430px}
#community section #companies ul li.feature a{height:138px;width:430px}
#community section #companies ul li.enova a{background-position:-430px 0}
#community section #companies ul li.manifest a{background-position:0 -138px}
#community section #companies ul li.signals a{background-position:-172px -138px}
#community section #companies ul li.groupon a{background-position:-344px -138px}
#community section #companies ul li.excelerate a{background-position:-516px -138px}
#community section #companies ul li.hashrocket a{background-position:-688px -138px}
#community section #companies ul li.light a{background-position:0 -262px}
#community section #companies ul li.wisdom a{background-position:-172px -262px}
#community section #companies ul li.braintree a{background-position:-344px -262px}
#community section #companies ul li.razorfish a{background-position:-516px -262px}
#community section #companies ul li.city a{background-position:-688px -262px}
#community section #companies ul li.nwv a{background-position:0 -386px}
#community section #companies ul li.oca a{background-position:-172px -386px}
#community section #companies ul li.hpa a{background-position:-344px -386px}
#community section #companies ul li.apex a{background-position:-516px -386px}
#community section #companies ul li.modelmetrics a{background-position:-688px -386px}
#community section #companies ul li.mcguire a{background-position:0 -512px}
#community section #companies ul li.pathfinder a{background-position:-172px -512px}
#community section #companies ul li.crowdspring a{background-position:-344px -512px}
#community section #companies ul li.lightbank a{background-position:-516px -512px}
#community section #companies ul li.bic a{background-position:-688px -512px}
#community section #companies ul li.cec a{background-position:0 -634px}
#community section #companies ul li.mart a{background-position:-172px -634px}
#staff #banner{padding:0}
#staff #banner figure{position:relative;display:block;height:182px;margin:-10px auto 28px auto;width:280px}
#staff #banner figure:before,#staff #banner figure:after{-moz-box-shadow:0 15px 10px rgba(0,0,0,0.3);-o-box-shadow:0 15px 10px rgba(0,0,0,0.3);-webkit-box-shadow:0 15px 10px rgba(0,0,0,0.3);box-shadow:0 15px 10px rgba(0,0,0,0.3);-moz-transform:rotate(-4deg);-o-transform:rotate(-4deg);-webkit-transform:rotate(-4deg);transform:rotate(-4deg);bottom:15px;content:"";height:20%;left:5px;position:absolute;width:40%;z-index:1}
#staff #banner figure:after{-moz-transform:rotate(4deg);-o-transform:rotate(4deg);-webkit-transform:rotate(4deg);transform:rotate(4deg);left:auto;right:5px}
@media screen and (max-width: 640px){#staff #banner figure{display:block;height:auto;margin:0 auto 20px auto;width:auto}
#staff #banner figure:before,#staff #banner figure:after{display:none}
#staff #banner figure img{display:block;margin:0 auto;width:85%}
}
#staff #banner figure img{background:#fff;border:1px solid #ddd;padding:5px;position:relative;z-index:2;border:1px solid #c6d9e7;width:268px}
#staff #banner h2{margin:0 0 18px 0}
#staff #banner h2 em{color:#999;font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}
#staff #banner h2 span{color:#3882c8;display:block;font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}
#staff #banner p{margin:0 0 20px 0}
#staff #mentors .col-2 figure{position:relative;display:block;height:182px;margin:0 auto 19px auto;width:280px}
#staff #mentors .col-2 figure:before,#staff #mentors .col-2 figure:after{-moz-box-shadow:0 15px 10px rgba(0,0,0,0.3);-o-box-shadow:0 15px 10px rgba(0,0,0,0.3);-webkit-box-shadow:0 15px 10px rgba(0,0,0,0.3);box-shadow:0 15px 10px rgba(0,0,0,0.3);-moz-transform:rotate(-4deg);-o-transform:rotate(-4deg);-webkit-transform:rotate(-4deg);transform:rotate(-4deg);bottom:15px;content:"";height:20%;left:5px;position:absolute;width:40%;z-index:1}
#staff #mentors .col-2 figure:after{-moz-transform:rotate(4deg);-o-transform:rotate(4deg);-webkit-transform:rotate(4deg);transform:rotate(4deg);left:auto;right:5px}
@media screen and (max-width: 640px){#staff #mentors .col-2 figure{display:block;height:auto;margin:0 auto 20px auto;width:auto}
#staff #mentors .col-2 figure:before,#staff #mentors .col-2 figure:after{display:none}
#staff #mentors .col-2 figure img{display:block;margin:0 auto;width:85%}
}
#staff #mentors .col-2 figure img{background:#fff;border:1px solid #ddd;padding:5px;position:relative;z-index:2;width:268px}
#staff #mentors .col-2 h2{margin:0 0 19px 0}
#staff #mentors .col-2 h2 em{color:#999;font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}
#staff #mentors .col-2 h2 span{color:#3882c8;display:block;font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}
#staff #mentors .col-2 p{margin-left:0}
#staff #team h1{border-top:3px double #c6d9e7;margin:19px 10px 19px 10px;padding:39px 0 0 0}
#staff #team ul{list-style:none;margin:0}
#staff #team ul li{float:left;margin:0 10px 19px 10px;width:300px}
#staff #team ul li img{background:#fff;border:1px solid #ddd;padding:2px;float:left;margin:0 15px 0 0}
#staff #team ul li strong{color:#3882c8;display:block}
#staff #team ul li a{display:block}
#location #banner h1{margin:0 10px}
#location #banner p{margin:20px 10px 0 10px}
#location section .container{padding:0 0 20px 0}
#location .shadow{height:561px;position:relative;width:940px;margin:0 auto}
#location .shadow a.forward{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:rgba(0,0,0,0.5);cursor:pointer;height:29px;margin:-20px 0 0 0;opacity:0;padding:11px 0 0 14px;position:absolute;right:30px;top:50%;width:26px;z-index:2}
#location .shadow:hover a.forward,#location .shadow:focus a.forward,#location .shadow:active a.forward{opacity:1}
#location .shadow ul.slides{background:#fff;border:1px solid #ddd;padding:5px;position:relative;z-index:2;height:626px;list-style:none;margin:0;padding:0;width:938px;z-index:1}
#location .shadow ul.slides li{display:none;height:549px;left:5px;position:absolute;top:5px;width:928px}
#location .shadow ul.slides li .caption{background:#333;background:rgba(0,0,0,0.8);color:#fff;height:61px;padding:14px 16px;position:absolute;text-shadow:0 1px 0 rgba(0,0,0,0.6);top:527px;width:896px}
#location .shadow ul.slides li .caption h3{margin:0}
#location .shadow ul.slides li .caption p{margin:0}
#location .shadow ul.slides li img{position:absolute;top:0}
#location .shadow ul.slides li.location img{left:12px;position:relative;top:86px}
#location .nav{display:none}
#location .cl-100{height:100px}
#alumni .graduates ul{list-style:none;margin:0}
#alumni .graduates ul li{float:left;margin:0 10px 19px 10px;width:460px}
#alumni .graduates ul li:nth-child(odd){clear:both}
#alumni .graduates ul li img{background:#fff;border:1px solid #ddd;padding:2px;float:left;margin:0 15px 0 0;max-width:134px}
#alumni .graduates ul li strong{color:#275b8c;display:block;font-size:15px}
#alumni .graduates ul li span{color:#999;display:block}
#alumni .graduates ul li p{margin:20px 0 0 155px}
#apply aside{padding:20px 10px 1px 10px}
#apply aside h2{border-top:3px double #c6d9e7;margin:-3px 10px 19px 10px;padding:19px 0 0 0}
#apply aside h2.no-border{border:0;margin:0 10px 20px 10px;padding:0}
#apply aside h2.bump{margin:-1px 10px 19px 10px}
#apply aside h2.bump-2{margin:-2px 10px 19px 10px}
#apply aside .course strong{display:block}
#apply aside blockquote{margin:0 10px}
#apply aside p.source{color:#999;font-size:13px;text-align:right}
#apply aside p.source strong{color:#000}
#apply aside.twitter{margin:-1px 10px 19px 20px}
#apply aside.twitter h3{float:left}
#apply aside.twitter .tweet{float:right;margin:0 10px 0 0}
#apply aside.twitter p{clear:both}
#apply .col-2 h4{margin:0}
#apply .col-2 p{margin:0 0 20px 0}
#apply .fsError{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:rgba(197,32,39,0.1);border:none;clear:none;color:#c52027;font:700 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;margin:-1px 0 30px 10px;padding:10px;width:520px}
#apply form{float:left;width:540px}
#apply table{float:left;margin:0 0 0 10px;width:540px}
#apply table td{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-transition:background 0.2s linear 0s;-o-transition:background 0.2s linear 0s;-webkit-transition:background 0.2s linear 0s;transition:background 0.2s linear 0s;padding:7px 10px}
#apply table td.fsFieldFocused{background:#fffdd4}
#apply table td.fsValidationError{background:rgba(197,32,39,0.1) !important}
#apply table td h2{color:#3882c8;font:700 16px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;margin:0;padding:0}
#apply table td label{color:#3882c8;padding:0 0 3px 0}
#apply table td label span{color:#c52027;font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;left:-2px;position:relative}
#apply table td label.fsOptionLabel{color:#000}
#apply table td.fsValidationError label{background-position:0 3px;color:#c52027;padding:0 0 3px 20px}
#apply table td input,#apply table td textarea{-moz-transition:border 0.2s linear 0s;-o-transition:border 0.2s linear 0s;-webkit-transition:border 0.2s linear 0s;transition:border 0.2s linear 0s;-moz-transition:box-shadow 0.2s linear 0s;-o-transition:box-shadow 0.2s linear 0s;-webkit-transition:box-shadow 0.2s linear 0s;transition:box-shadow 0.2s linear 0s;-moz-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);-o-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);background:#fff;border:1px solid #ccc;color:#000;font:400 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;margin:0 0 4px 0}
#apply table td input:focus,#apply table td input:active,#apply table td textarea:focus,#apply table td textarea:active{border:1px solid #adadad}
#apply table td input{width:242px}
#apply table td input#field12738401-first{margin:0 10px 0 0}
#apply table td input[type="radio"]{margin:0 8px 0 0;width:auto}
#apply table td textarea{height:100px;width:510px}
#apply table td .fsSupporting{color:#999}
#apply .fsSpacerRow{display:none}
#apply .fsSubmit{clear:both;margin:0 0 37px 20px;text-align:left}
#apply .fsSubmit input{background:#c8171d;background:-moz-linear-gradient(top, #e72b32, #9b1117);background:-ms-linear-gradient(top, #e72b32, #9b1117);background:-o-linear-gradient(top, #e72b32, #9b1117);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e72b32), to(#9b1117));background:-webkit-linear-gradient(top, #e72b32, #9b1117);background:linear-gradient(top, #e72b32, #9b1117);-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.75);text-transform:uppercase;border:none;cursor:pointer;font:700 14px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;margin:19px 0 -1px 0;padding:12px 30px 11px 30px;width:auto}
#apply .fsSubmit input:hover,#apply .fsSubmit input:focus,#apply .fsSubmit input:active{background:#b1141a;background:-moz-linear-gradient(top, #df1921, #840f13);background:-ms-linear-gradient(top, #df1921, #840f13);background:-o-linear-gradient(top, #df1921, #840f13);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#df1921), to(#840f13));background:-webkit-linear-gradient(top, #df1921, #840f13);background:linear-gradient(top, #df1921, #840f13)}
#new ul.info{float:left;height:300px;list-style:none;margin:0}
#new ul.info li{float:left;height:52px;margin:0 10px 8px 10px;width:300px}
#new ul.info li input{width:292px}
#new ul.info li input.submit{background:#c8171d;background:-moz-linear-gradient(top, #e72b32, #9b1117);background:-ms-linear-gradient(top, #e72b32, #9b1117);background:-o-linear-gradient(top, #e72b32, #9b1117);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e72b32), to(#9b1117));background:-webkit-linear-gradient(top, #e72b32, #9b1117);background:linear-gradient(top, #e72b32, #9b1117);-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.75);text-transform:uppercase;border:none;cursor:pointer;font:700 16px/20px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;margin:21px 0 0 0;padding:16px 44px 15px 44px;width:auto}
#new ul.info li input.submit:hover,#new ul.info li input.submit:focus,#new ul.info li input.submit:active{background:#b1141a;background:-moz-linear-gradient(top, #df1921, #840f13);background:-ms-linear-gradient(top, #df1921, #840f13);background:-o-linear-gradient(top, #df1921, #840f13);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#df1921), to(#840f13));background:-webkit-linear-gradient(top, #df1921, #840f13);background:linear-gradient(top, #df1921, #840f13)}
#new ul.info li.textarea{height:122px;width:620px}
#new ul.info li.textarea textarea{height:93px;width:612px}
#new ul.info li.check{height:41px}
#new ul.info li.check strong{color:#3882c8;display:block;font-weight:bold;padding:0 0 1px 0}
#new ul.info li.check label{color:#000;display:inline;font-weight:normal;padding:0}
#new ul.info li.check input{margin:-2px 0 0 0;width:auto}
@media screen and (max-width: 640px){.share{display:none}
.container{margin:0;width:100%}
section .container aside{border-bottom:1px solid #c6d9e7;-moz-border-radius:0;-o-border-radius:0;-webkit-border-radius:0;border-radius:0;float:none;margin:-40px 0 20px 0;padding:20px 0 10px 0 !important;width:auto}
h1{line-height:30px}
.col-2{float:none;width:auto}
header .container h1{left:auto;margin:0 auto;position:relative;top:-50px}
header .container h1 a{margin:0 auto}
header .container nav ul{height:90px;margin:-76px 10px 0 10px;padding:10px 15px 10px 16px;position:relative;right:auto;top:auto}
header .container nav ul li{border:none;font:700 16px/30px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;float:left;padding:0;text-align:center;width:33.3%}
header .container nav ul li.home{display:none}
header .container nav ul li.m-apply{display:block;margin:0 33.3%;text-align:center}
header .container nav ul li a{padding:6px}
header .container nav a.apply{display:none}
header .container .intro{display:none}
#bottom{display:none}
#main{padding-bottom:41px}
#footer{margin:-41px 0 0 0;height:41px}
#footer ul li.tumblr,#footer ul li.google,#footer ul li.built{display:none}
#home header h1{background:url(/assets/global/logo-small-f30ba8bdc216be0657e0475b6dfc55ae.png) 0 0 no-repeat;height:281px;left:auto;margin:0 auto;position:relative;top:-50px;width:266px}
#home header h1 a{display:block;height:184px;margin:0 auto;text-indent:-9999px;width:170px}
#home header .intro{display:block;margin:20px 10px 0 10px;text-align:center}
#home header .intro h2{font-size:16px}
#home header .intro h2 span{font-size:32px;margin:-4px 0 0 0}
#home header .intro h3{font:20px/28px Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif}
#home header .intro h3 span{display:inline}
#home #banner img{display:none}
#home #banner #dev{border-top:3px double #c6d9e7;margin:20px 10px 0 10px;padding:20px 0 0 0}
#home section .container{margin:19px auto}
#home section article{margin:0 10px 19px 10px}
#home section article#videos{float:none;width:auto}
#home section article#videos ul.videos{height:440px;width:auto}
#home section article#videos ul.videos li{height:auto;width:auto}
#home section article#videos ul.videos li iframe{background:#fff;margin:10px 10px 5px 10px;width:95%;height:76%}
#home section article#videos .thumbnails,#home section article#videos .path{display:none}
#home section article#quotes{display:none}
#home section article#people{float:none;width:auto}
#home section article#people h5{margin:0 0 17px 0}
#programs #banner{display:none}
#programs .container.programs{position:relative;height:auto}
#programs .container.programs #ux,#programs .container.programs #development,#programs .container.programs #html-css{display:block;left:auto;position:relative;top:auto;width:auto}
#programs .container.programs #ux aside figure img,#programs .container.programs #development aside figure img,#programs .container.programs #html-css aside figure img{max-width:328px}
#programs .container.programs #ux aside .apply-now,#programs .container.programs #development aside .apply-now,#programs .container.programs #html-css aside .apply-now{display:none}
#programs .container.programs #ux aside h4,#programs .container.programs #development aside h4,#programs .container.programs #html-css aside h4{border:none;margin:0 10px 20px 10px;padding:0}
#programs .container.programs #ux aside h4.pull,#programs .container.programs #development aside h4.pull,#programs .container.programs #html-css aside h4.pull{display:none}
#programs .container.programs #ux aside ul,#programs .container.programs #development aside ul,#programs .container.programs #html-css aside ul{display:none}
#programs .container.programs #ux ul.rails-companies li,#programs .container.programs #development ul.rails-companies li,#programs .container.programs #html-css ul.rails-companies li{float:left;margin:5px;width:220px}
#programs .container.programs #ux ul.rails-companies li a,#programs .container.programs #development ul.rails-companies li a,#programs .container.programs #html-css ul.rails-companies li a{height:68px;width:220px}
#programs .container.programs #development aside{border-top:1px solid #c6d9e7;margin-top:30px}
#culture section .container{margin:19px auto}
#culture section figure{float:none;-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}
#culture section figure img{max-width:278px}
#culture section .who-we-are ul li figure{display:block;height:auto;float:none;margin:0 auto;-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);width:auto}
#culture section .who-we-are ul li figure img{display:block;margin:0 auto 20px auto;max-width:320px;width:85%}
#culture section .who-we-are ul li blockquote{float:none;width:auto}
#culture section .who-we-are ul li:nth-child(even) figure{display:block;height:auto;float:none;margin:0 auto;-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);width:auto}
#culture section .who-we-are ul li:nth-child(even) figure img{display:block;margin:0 auto 20px auto;max-width:320px;width:85%}
#community section .container{margin:19px auto}
#community section ul li{height:auto;margin:0;padding:8px 0;width:33.3%}
#community section ul li img{max-width:116px;width:70%}
#community section ul li:nth-child(3n+4){clear:both}
#community section #companies ul{margin:0 auto;width:384px}
#community section #companies ul li{height:124px;margin:0 10px;width:172px}
#community section #companies ul li:nth-child(3n+4){clear:none}
#community section #companies ul li.feature{height:auto;margin:0;width:100%}
#community section #companies ul li.feature a{display:block;margin:0 auto}
#staff #banner{padding:20px 0 0 0}
#staff #banner figure img{max-width:328px}
#staff section .container{margin:19px auto}
#staff section .container #team ul li{width:96%}
#location .shadow{height:auto;margin:0;padding:0 10px;width:auto}
#location .shadow:before,#location .shadow:after{display:none}
#location .shadow a.forward{display:none}
#location .shadow ul.slides{border:none;height:auto;margin:0 0 -30px 0;width:auto}
#location .shadow ul.slides li{display:block;float:none;height:auto;left:auto;position:relative;top:auto;width:auto}
#location .shadow ul.slides li img{background:#fff;border:1px solid #ddd;padding:5px;position:relative;z-index:2;margin:0 auto 20px auto;position:relative;top:auto;width:90%}
#location .shadow ul.slides li .caption{background:none;color:#000;height:auto;padding:0 10px 30px 10px;position:relative;text-shadow:none;top:auto;width:auto}
#location .shadow ul.slides li.location img{left:0;top:0}
#location .cl-100{display:none}
#apply .fsError{margin:-1px 10px 30px 10px;width:auto}
#apply form{float:none;width:auto}
#apply table{float:none;margin:0 10px;width:auto}
#apply table td input{width:242px}
#apply table td textarea{height:100px;width:95%}
#apply aside.twitter{display:none}
#alumni .graduates ul li{width:auto}
}
@media screen and (max-width: 460px){#programs .container.programs #development ul.rails-companies li{float:none;margin:5px auto}
}
@media screen and (max-width: 384px){#community section #companies ul{width:auto}
#community section #companies ul li{float:none;margin:0 auto}
}

