<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Snippets</title>
	
</head>
    
<body>

    
    {% if snippet_list %}

    
    {% for snippet in snippet_list %}
    {% if snippet.snippetid < 20 %}
    <form action="" >
    
		 {{ snippet.snippet }} <br /> 
		<input type="text" name="a"  value="{{snippet.answer}}" width=100 />
		<p> <!---value="{{snippet.answer}}"-->
	{% endif %}
    {% endfor %}
   
     <input type="button" name="Submit" value="Submit" />
  
    
{% else %}
    <p>No snippets in the database for this song.</p>
{% endif %}

</body>
</html>


