{% extends "base.html" %}

{% block title %}Hiphopathy: About{% endblock %}

{% block navbar %}
  <li><a href="/hiphopathy/">Home</a></li>
  <li class="active"><a href="/hiphopathy/about/">About</a></li>
  <li><a href="/hiphopathy/search_form/">Search</a></li>
{% endblock %}

{% block jumbotron %}<h1>About The Team</h1>{% endblock %}

{% block marketing %}
<div class="span12">
	<h3><a href="http://omojumiller.com" target="blank">Omoju Miller</a></h3>
    <p>Omoju is the lead researcher on the "Hiphopathy" project between UC Berkeley and the International Computer Science Institute, which uses artificial intelligence techniques to deepen our understanding of human cognition and reasoning in hiphop lyrics. She has an undergraduate degree in Computer Science (2001) and a Master's degree in Electrical and Computer Engineering (2004) from the University of Memphis. She has over a decade of experience in the technology industry. She is currently a doctoral student at UC Berkeley in Computer Science Education. Omoju also serves in a volunteer capacity as an advisor to the White House Presidential Innovation Fellows, where she focuses on inclusion and diversity in technology.</p>
	<div class="row-fluid">
	    <div class="span6">
			<h4><a href="http://www.linkedin.com/in/alexandragreenspan/" target="blank">Alex Greenspan</a></h4>
		    <p>Alex is a sophomore at UC Berkeley, double majoring in computer science and cognitive science. She is passionate about her interdisciplinary studies and hopes to further her educational focus in either HCI, natural language processing, or computational neuroscience.</p>

		    <h4>Eric Chu</h4>
		    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

		    <h4><a href="http://www.linkedin.com/pub/jordan-arnesen/67/142/960/" target="blank">Jordan Arnesen</a></h4>
		    <p>As a Cognitive Science major, Jordan loves how nearly any subject can shine light on the brain and how we perceive and reason about the world around us. After Berkeley he plans to continue his studies in a PhD program where he can bring together his interests in language, computer science, and education.</p>
		</div>

		<div class="span6">
			<h4>Daniel Hsu</h4>
		    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

		    <h4><a href="http://www.linkedin.com/pub/grayson-flood/67/673/b08" target="blank">Grayson Flood</a></h4>
		    <p>Grayson is a sophomore CS major and music minor at UC Berkeley. He is currently interested in AI and creative solutions to data management and visualization. He has been a part of the Hiphopathy team since Spring 2013.</p>

		    <h4>Kevin Funkhouser</h4>
		    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
		</div>
	</div>
</div>
{% endblock %}