{% extends "base.html" %}

{% block title %}
	{% for a in artist %}
    	Hiphopathy: Songs by {{ a.artist }}
    {% empty %}
    	Hiphopathy: Songs
	{% endfor %}
{% endblock %}

{% block jumbotron %}
	<h1>
		{% for a in artist %}
	    	Songs by {{ a.artist }}
    	{% empty %}
    		Songs
    	{% endfor %}
	</h1>
{% endblock %}

{% block marketing %}
	<div class="span6">
		<h4>What now?</h4>
		<p>
			Click on one of the songs to reach a page with snippets of the lyrics. Your job is to go through each snippet and write down what you think the meaning of it is. Don't be shy! We want to know your exact thoughts on the meaning of the lyric. Some examples of keywords you can write include adjectves, emotions, metaphors, etc. While there may be an actual specific meaning behind a lyric, we want to know what <em>you</em> think!
		</p>
	</div>

	<div class="span6">
		{% if song_list %}
		    <ul class="nav nav-tabs nav-stacked">
		    {% for song in song_list %}
		        <li><a href="/hiphopathy/{{ song.songid }}/snippet_view/">{{ song.title }}</a></li>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>No songs in the database.</p>
		{% endif %}
	</div>
{% endblock %}